* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #418bd1;
    color: white;
}

.upload-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 28px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label, button {
    display: f;
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #4171d1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 50px;
}

label:hover, button:hover {
    background-color: #4574a0;
}

.drop-box {
    margin-top: 20px;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    background-color: #f9f9f9;
}

.drop-box p {
    margin: 0 0 10px;
    font-size: 16px;
}

.drop-box ul {
    list-style: none;
    padding: 0;
}

.drop-box ul li {
    margin: 5px 0;
    padding: 5px;
    background-color: #e8e8e8;
    border-radius: 4px;
}

button#merge-btn {
    display: block;
    margin: 20px auto;
    background-color: #ff004c;
}

button#merge-btn:hover {
    background-color: #b30030;
}

a#downloadLink {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    color: #418bd1;
    text-decoration: none;
}

a#downloadLink:hover {
    text-decoration: underline;
}

/* Highlight drop zone on drag-over */
.drop-box .drag-over {
    border-color: #418bd1;
    background-color: #f0fff0;
    transition: 0.3s;
}

/* Clickable cursor for drop zone */
#drop-zone {
    cursor: pointer;
    height: 250px;

    /* Center paragraph text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This will hide the "Choose Files or "No File Chosen" from an input type of "file" */
#choose-btn, #clear-btn {
    display: none;
}

footer {
    text-align: center;
    background-color: #418bd1;
    color: white;
    position: absolute; 
    bottom: 0;
    width: 100%;
}